.product{
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.productTitle{
    font: 17px/20px PTSans,Tahoma,sans-serif;
    color: #000000;
}

.productAuthor {
    font: 15px/21px PTSans,Tahoma,sans-serif;
    margin-top: 5px;
}

.productPrice {
    font: bold 15px/21px PTSans,Tahoma,sans-serif;
    margin-top: 5px;
}